/* Estilos generales */
body {
    font-family: 'Georgia', serif;
    background-color: #fdf7e3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Contenedor de la carta */
.letter-container {
    background-color: white;
    width: 70%;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    position: relative;
    line-height: 1.8;
    text-align: justify;
    max-width: 800px;
}

/* Encabezado de la carta */
h1 {
    text-align: center;
    font-size: 2.5em;
    color: #000000;
    margin-bottom: 20px;
}

/* Fecha */
.date {
    text-align: right;
    color: #757575;
    font-size: 1em;
}

/* Firma */
.signature {
    text-align: left;
    margin-top: 40px;
    font-style: italic;
}

/* Imagen de Snoopy */
.snoopy-top-left {
    width: 70px;
    height: auto;
    position: absolute;
    top: 20px;
    left: 20px;
}

/* Estilo de párrafos */
p {
    margin: 15px 0;
    text-align: justify;
    font-size: 1.1em;
}

.flowers {
    width: 50px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.linea-decorativa {
    width: 50px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}


.text-with-images {
    display: inline-flex;
    align-items: center;
    gap: 5px; /* Reducir el espacio entre elementos */
    margin-top: 10px;
    margin-bottom: 20px;
}

.snoopy-heart {
    width: 150px;
    height: auto;
    display: 150px;
    margin: 20px auto;
}
